[[source]]
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true
name = "pip_conf_index_global"

[packages]
fastapi = "*"
uvicorn = "*"
sqlalchemy = "*"
python-multipart = "*"
python-dotenv = "*"
requests = "*"
psutil = "*"
bsdiff4 = "*"

[dev-packages]
git-filter-repo = "*"

[requires]
python_version = "3.8"
